body{
    display: flex;
}
.logo-mario{
    height: 200px;
}
button{
    color: white;
    background-color: #ff0000;
    border: none;
    border-radius: 3px;
    width: 200px;
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;/*caixa alta*/
    font-weight: bold;
}

.mario-iude{
    height: 300px;
}